In [1]:
from sklearn.preprocessing import Normalizer

In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    "f1":[12,23,12,34,6,3]
})

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
df.head()

   f1
0  12
1  23
2  12
3  34
4   6

In [10]:
minmax = MinMaxScaler()

In [11]:
minmax.fit_transform(df[['f1']])

array([[0.29032258],
       [0.64516129],
       [0.29032258],
       [1.        ],
       [0.09677419],
       [0.        ]])